<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>863996074096-4gamucja33gds9igvnv6nunbcegkuoui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863996074096-4gamucja33gds9igvnv6nunbcegkuoui</string>
	<key>API_KEY</key>
	<string>AIzaSyDDb4CLBY3SilALADOjU03LYRAIdd3As-M</string>
	<key>GCM_SENDER_ID</key>
	<string>863996074096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mollycode.eve</string>
	<key>PROJECT_ID</key>
	<string>mollycode-eve</string>
	<key>STORAGE_BUCKET</key>
	<string>mollycode-eve.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863996074096:ios:d4ef2f7f96767d51</string>
	<key>DATABASE_URL</key>
	<string>https://mollycode-eve.firebaseio.com</string>
</dict>
</plist>